@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@model ViewKindViewModel
@{
    ViewBag.WebTitle = Model.PageTitle;
}

<div class="container text-center">
    <div class="alert alert-danger row" role="alert">
        <h5>Proceed with great caution! you are about to...</h5>
    </div>
    <div class="admin-title row">
        <h3>Delete this Post</h3>
    </div>
    <div class="admin-body row">
        <form asp-action="Remove" method="post">
            <input type="hidden" asp-for="@Model.ObjectsClass.SelectedPost.Id" value="@Model.ObjectsClass.SelectedPost.Id" name="id" />
            <input type="hidden" asp-for="@Model.ObjectsClass.SelectedPost.Category" value="@Model.ObjectsClass.SelectedPost.Category" name="category" />

            <div class="form-group">
                <label for="post-title" class="form-label">Title</label>
                <input id="post-title" type="text" asp-for="@Model.ObjectsClass.SelectedPost.Title" value="@Model.ObjectsClass.SelectedPost.Title" class="form-control" disabled />
            </div>
            
            <div class="form-group">
                <label for="post-sub" class="form-label">Subtitle</label>
                <input id="post-sub" type="text" asp-for="@Model.ObjectsClass.SelectedPost.SubTitle" value="@Model.ObjectsClass.SelectedPost.SubTitle" class="form-control" disabled />
            </div>
            
            <div class="form-group">
                <label for="front-img" class="form-label">Front Image file source</label>
                <input id="front-img" type="text" asp-for="@Model.ObjectsClass.SelectedPost.Image" value="@Model.ObjectsClass.SelectedPost.Image" class="form-control" disabled />
            </div>
            
            <div class="form-group">
                <label for="front-alt" class="form-label">Front Image description</label>
                <input id="front-alt" type="text" asp-for="@Model.ObjectsClass.SelectedPost.ImageAlt" value="@Model.ObjectsClass.SelectedPost.ImageAlt" class="form-control" disabled />
            </div>
            
            <div class="form-group">
                <label for="author" class="form-label">Author Name</label>
                <input id="author" type="text" asp-for="@Model.ObjectsClass.SelectedPost.Author" value="@Model.ObjectsClass.SelectedPost.Author" class="form-control" disabled />
            </div>
            
            <div class="form-group">
                <label for="post-body" class="form-label">Post Body</label>
                <textarea id="post-body" type="text" asp-for="@Model.ObjectsClass.SelectedPost.Body" value="@Model.ObjectsClass.SelectedPost.Body" class="form-control" rows="6" disabled></textarea>
            </div>
            
            <div class="form-group">
                <label for="post-category" class="form-label">Post Category</label>
                <input id="post-category" type="text" asp-for="@Model.ObjectsClass.SelectedPost.Category" value="@Model.ObjectsClass.SelectedPost.Category" class="form-control" disabled />
            </div>

            <button type="submit" class="btn btn-danger admin-send">Delete Permanently</button>
        </form>
    </div>
</div>