@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@model ViewKindViewModel
@{
    ViewBag.WebTitle = Model.PageTitle;

    string[] buttons = new string[3];
    string[] aspAction = new string[3];
    string[] aspControl = new string[3];
    for (int i = 0; i < 3; i++)
    {
        switch(i)
        {
            case 0: buttons[i] = "Create New Post"; aspAction[i] = "New"; aspControl[i] = "Admin"; break;
            case 1: buttons[i] = "Search for Change a Post"; aspAction[i] = "Index"; aspControl[i] = "Search"; break;
            default: buttons[i] = "Search for Erase a Post"; aspAction[i] = "Index"; aspControl[i] = "Search"; break;
        }
    }
}

<div class="container text-center">
    @if (TempData["AdminMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["AdminMessage"]
        </div>
    }
    <div class="admin-title row">
        <h3>Posting Administration Hub</h3>
    </div>
    <div class="admin-body row">
        <div class="admin-options col">
            <form asp-controller="@aspControl[0]" asp-action="@aspAction[0]" method="post">
                <button type="submit" class="btn btn-success">@buttons[0]</button>
            </form>
        </div>
        <div class="admin-options col">
            <form asp-controller="@aspControl[1]" asp-action="@aspAction[1]" method="post">
                <button type="submit" class="btn btn-warning">@buttons[1]</button>
            </form>
        </div>
        <div class="admin-options col">
            <form asp-controller="@aspControl[2]" asp-action="@aspAction[2]" method="post">
                <button type="submit" class="btn btn-danger">@buttons[2]</button>
            </form>
        </div>
    </div>
</div>