@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@using Opuestos_por_el_Vertice.Models.ViewModels
@model ViewKindViewModel
@{
    ViewBag.WebTitle = Model.WebTitle;
}

<div class="container text-center">
    <div class="admin-title row">
        <h3>Update an Old Post</h3>
    </div>
    <div class="admin-body row">
        <form asp-action="Update" method="post">
            @Html.HiddenFor(m => m.ObjectClass.CurrentPost.Id, new {@value=Model.ObjectClass.CurrentPost.Id})
            @Html.HiddenFor(m => m.ObjectClass.CurrentPost.Category, new {@value=Model.ObjectClass.CurrentPost.Category})

            <div class="form-group">
                <label for="post-title" class="form-label">Title</label>
                @Html.TextBoxFor(m => m.ObjectClass.CurrentPost.Title,
                    new {@class="form-control", id="post-title", type="text", value=Model.ObjectClass.CurrentPost.Title})
            </div>

            <div class="form-group">
                <label for="post-sub" class="form-label">Subtitle</label>
                @Html.TextBoxFor(m => m.ObjectClass.CurrentPost.SubTitle,
                    new {@class="form-control", id="post-sub", type="text", value=Model.ObjectClass.CurrentPost.SubTitle})
            </div>
            
            <div class="form-group">
                <label for="front-img" class="form-label">Front Image file source</label>
                @Html.TextBoxFor(m => m.ObjectClass.CurrentPost.Image,
                    new {@class="form-control", id="front-img", type="text", value=Model.ObjectClass.CurrentPost.Image})
            </div>

            <div class="form-group">
                <label for="front-alt" class="form-label">Front Image description</label>
                @Html.TextBoxFor(m => m.ObjectClass.CurrentPost.ImageAlt,
                    new {@class="form-control", id="front-alt", type="text", value=Model.ObjectClass.CurrentPost.ImageAlt})
            </div>

            <div class="form-group">
                <label for="author" class="form-label">Author Name</label>
                @Html.TextBoxFor(m => m.ObjectClass.CurrentPost.Author,
                    new {@class="form-control", id="author", type="text", value=Model.ObjectClass.CurrentPost.Author})
            </div>

            <div class="form-group">
                <label for="post-body" class="form-label">Post Body</label>
                @Html.TextAreaFor(m => m.ObjectClass.CurrentPost.Body, 10, 1,
                    new {@class="form-control", id="post-category", type="text", value=Model.ObjectClass.CurrentPost.Body})
            </div>

            <div class="form-group">
                <label for="post-category" class="form-label">Post Category</label>
                @Html.DropDownListFor(m => m.ObjectClass.CurrentPost.CategoryId, new SelectList( Model.AdminInfo.Categories.Categories, "Id", "Category"),
                    "Witch Class of Post is it?",
                    new {@class="form-control", id="post-category", type="text"})
            </div>

            <button type="submit" class="btn btn-warning">Update Record</button>
        </form>
    </div>
</div>