@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@using Opuestos_por_el_Vertice.Models.ViewModels
@model ViewKindViewModel
@{
    ViewBag.WebTitle = Model.WebTitle;
}

<div class="container text-center">
    <div class="admin-title row">
        <h3>Create a New Post</h3>
    </div>
    <div class="admin-body row">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="post-title" class="form-label">Title</label>
                @Html.TextBoxFor(m => m.ObjectsClass.SelectedPost.Title,
                    new {@class="form-control", id="post-title", type="text"})
                @Html.ValidationMessageFor(m => m.ObjectsClass.SelectedPost.Title, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="post-sub" class="form-label">Subtitle</label>
                @Html.TextBoxFor(m => m.ObjectsClass.SelectedPost.SubTitle,
                    new {@class="form-control", id="post-sub", type="text"})
                @Html.ValidationMessageFor(m => m.ObjectsClass.SelectedPost.SubTitle, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="front-img" class="form-label">Front Image file source</label>
                @Html.TextBoxFor(m => m.ObjectsClass.SelectedPost.Image,
                    new {@class="form-control", id="front-img", type="text"})
                @Html.ValidationMessageFor(m => m.ObjectsClass.SelectedPost.Image, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="front-alt" class="form-label">Front Image description</label>
                @Html.TextBoxFor(m => m.ObjectsClass.SelectedPost.ImageAlt,
                    new {@class="form-control", id="front-alt", type="text"})
                @Html.ValidationMessageFor(m => m.ObjectsClass.SelectedPost.ImageAlt, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="author" class="form-label">Author Name</label>
                @Html.TextBoxFor(m => m.ObjectsClass.SelectedPost.Author,
                    new {@class="form-control", id="author", type="text"})
                @Html.ValidationMessageFor(m => m.ObjectsClass.SelectedPost.Author, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="post-body" class="form-label">Post Body</label>
                @Html.TextAreaFor(m => m.ObjectsClass.SelectedPost.Body, 10, 1,
                    new {@class="form-control", id="post-category", type="text"})
            </div>

            <div class="form-group">
                <label for="post-category" class="form-label">Post Category</label>
                @Html.DropDownListFor(m => m.AdminInfo.CategoryId, new SelectList( Model.AdminInfo.Categories.Categories, "Id", "Category"),
                    "Witch Class of Post is it?",
                    new {@class="form-control", id="post-category", type="text"})
            </div>

            <button type="submit" class="btn btn-dark">Send to Record</button>
        </form>
    </div>
</div>