@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@using Opuestos_por_el_Vertice.Models.ViewModels
@model ViewKindViewModel
@{
    SearchViewModel searchViewModel = Model.AsideData.SearchData;
    List<List<PostViewModel>> asidesList = Model.AsideData.AsidesList;
    List<string> asideTitles = Model.AsideData.AsideTitles;
    string asideTitle = Model.AsideData.AsideTitle;
}

<div class="container text-center">
    <div class="search-bar row">
        <partial name="../Shared/_SearchBarFormPartial.cshtml" model="@searchViewModel" />
    </div>
    <div class="more-popular-aside row">
        <div class="col">
            @for (int asides = 0; asides < asidesList.Count; asides++)          @* Here we mix the asidesList and the asideTitles list to get amount and order info *@
            {
                <div class="block-title row">
                    @if (asidesList.Count > 1)
                    {
                        <h5 class="aside-title">@asideTitles[asides]</h5>
                    }
                    else if (asideTitle.Length > 0)
                    {
                        <h5 class="aside-title">@asideTitle</h5>
                    }
                </div>
                <div class="more-popular-aside-body row">
                    <ul>
                        @for (int i = 0; i < asidesList[asides].Count; i++)
                        {
                            @if (asidesList[asides][i].Title != "")
                            {
                                <li>
                                    <a asp-controller="Post" asp-action="Post" asp-route-id="@asidesList[asides][i].Id" asp-route-postCategory="@asidesList[asides][i].Category">
                                        <h5>@asidesList[asides][i].Title</h5>
                                        <h6>@asidesList[asides][i].SubTitle</h6>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>