@using Opuestos_por_el_Vertice.Models.Services.ViewModels
@using Opuestos_por_el_Vertice.Models.ViewModels
@model ViewKindViewModel
@{
    List<PostViewModel> postList = Model.SearchData.SearchList;
    int listLenght = Model.SearchData.PaginationData[0]; if (listLenght < 1) { listLenght++; }
    int filter = postList.Count;
    int totalPages = Model.SearchData.PaginationData[1];
    int rest = Model.SearchData.PaginationData[2];
    if (listLenght > 10)
    {
        listLenght = 10;
        if (Model.CurrentPage == totalPages) { if (rest != 0) { listLenght = rest; } }
    }
    // here the post list is trimmed per page
    List<PostViewModel> pageList = new();
    if (filter > 0)
    {
        pageList = postList.GetRange(((Model.CurrentPage - 1) * 10), listLenght);
    }
}

<div class="container">
    <div class="search-head row">
        <div class="col">
            <form asp-controller="Admin" asp-action="DeleteAll" asp-route-identifier="@Model.AsideData.SearchData.Action" method="post">
                <button type="submit" class="btn btn-danger">Erase All Post</button>
            </form>
        </div>
    </div>
    <div class="search-body row">
        <div class="col">
            @if (postList.Count != 0 && postList != null)
            {
                <ul class="list-group">
                    @if (filter > 0)
                    {
                        @for (int p = 0; p < listLenght; p++)
                        {
                            <li class="list-group-item">
                                <div class="search-body-content col">
                                    <a asp-controller="Post" asp-action="Post" asp-route-id="@pageList[p].Id" asp-route-postCategory="@pageList[p].Category">
                                        <div class="row">
                                            <div class="col">
                                                <h4>@pageList[p].Title</h4>
                                                <h6>@pageList[p].SubTitle</h6>
                                                <a asp-controller="Post" asp-action="Post" asp-route-id="@pageList[p].Id" asp-route-postCategory="@pageList[p].Category"><i>Read More...</i></a>
                                            </div>
                                            <div class="col">
                                                <img class="img-thumbnail rounded" src="@pageList[p].Image" alt="@pageList[p].ImageAlt" style="max-height: 9rem;" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="search-body-admin col">
                                    <partial name="../Shared/_AdminButtonsPartial.cshtml" model="@pageList[p]" />
                                </div>
                            </li>
                        }
                    }
                </ul>
            }
            else if (Model.SearchData.Search == "")
            {
                <p>There's no record uploaded to the server.</p>
            }
            else
            {
                <p>Sorry but there's no records in our db that matches with your search.</p>
            }
        </div>
    </div>
    <div class="search-pag row">
        <partial name="../Shared/_PaginationPartial.cshtml" model="@Model" />
    </div>
</div>