@using Opuestos_por_el_Vertice.Models.Services.ViewModels.ViewEnvelopment
@model ViewKindViewModel
@{
    if (Model.User == null) { Model.User = new(); }
}

<div class="col align-content-center w-50">
    <form asp-action="Login" asp-route-email="@Model.User.Email" asp-route-password="@Model.User.Password" method="post">
        <div class="form-group">
            <label for="email" class="form-label"></label>
            @Html.TextBoxFor(m => m.User.Email,
                new {@class="form-control", id="email", type="text"})
            @Html.ValidationMessageFor(m => m.User.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="pass" class="form-label">Password</label>
            @Html.TextBoxFor(m => m.User.Password,
                new {@class="form-control", id="pass", type="password"})
            @Html.ValidationMessageFor(m => m.User.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-dark admin-send">Log In</button>
    </form>
</div>